{% extends 'template.html' %}

{% block body %}

	<div class="content">
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
		                  	<table class="table">
			                    <thead class=" text-primary">
			                      	<th>Full Name</th>
			                      	<th>Address</th>
			                      	<th>Phone</th>
			                      	<th>Action</th>
			                    </thead>
		                    	<tbody>
			                      	{% for warden in wardens %}

		                                <tr>
		                                    <td>{{ warden.fname }} {{ warden.lname }}</td>
		                                    <td>{{ warden.address }}</td>
		                                    <td>{{ warden.phone }}</td>
		                                    <td>
		                                        {# <a href="/user/{{ user.id }}/edit" class="btn btn-sm btn-primary">Edit</a> #}
	                                        	<form action="/warden/{{ warden.id }}/remove" method="POST">
		                                            <input type="submit" name="submit" class="btn btn-sm btn-danger" value="Delete">
		                                        </form>
		                                    </td>
		                                </tr>
		                          
		                            {% endfor %}
		                    	</tbody>
		                  	</table>
		                </div>
		                <a href="/add_warden" class="btn btn-sm btn-primary float-right">Add Warden</a>
					</div>	
				</div>
			</div>
			<div class="col-sm-3"></div>											
		</div>
	</div>


{% endblock %}